/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡       HEADER   ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡*/
/* Inicio cabecera */
@import './vars';
@import './mixins.scss';
  .nav__estilo {    
    //       estiloTexto($fontSize, $fontWeight, $marginBottom, $colorTipografia);
    @include estiloTexto($fontSizeMenuHeader, none, 0rem, $colorTipograGeneral!important);
    transition: all 0.5s ease;

    &:hover {                        
        @include estiloTexto(2rem, bold, 0rem, $colorTipograGeneral);
        border-bottom: 3px solid $colorTipograGeneral;           
      }    
  }
  
  //Esto es para SEO
  h1 {
    position: relative;
    left:-150px;
  }

  .header__logo{
    border-radius: 50%;
    border: 1px solid $colorTipograGeneral;
    @include widthHeight(7rem,7rem);
    animation: animaImg 5s ease 0s infinite;
  }
  
  /* para pruebas */
// .bordeAzul {
//     border: 2px solid #230985;    
// }

// .bordeRojo {
//     border: 2px solid #f70c0c;
// }

// .bordeAmarrillo {
//     border: 2px solid #f1c70c;
// }

// .bordeVerde {
//     border: 2px solid #3af10c;
// }

  /*Animacion para logo e imagen de compras*/
  @keyframes animaImg {
    0% {
      transform: scale(0.8,0.8) rotate(0deg);
      /* transform: rotate(0deg); */
    }
    50% {
      transform: scale(0.9,0.9) rotate(0deg);
      /* transform: rotate(20deg); */
    }
  
    100% {
      transform: scale(1,1) rotate(40deg);
      /* transform: rotate(40deg);     */
    }
  }
  /* fin cabecera */
