@import './vars';
@import './mixins.scss';
/*////////////////////////////////////////////////////////////////Pagina Principal///////////////////////////////////////////////////////*/
 /* inicio carrusel */
  /* Esto es para controlar alto de la imagen del carrusel */
  /* carousel-item es una clase propia de bootstrap*/
  .carouselItem{
    max-height: 80vh;    
  }
  
  .carouselItem__titulo{        
    //      estiloTexto($fontSize, $fontWeight, $marginBottom, $colorTipografia)
    @include estiloTexto(2.7rem, bold, 1rem, #f1e7e7);
  }

  .carouselItem__titulo_1{        
    //      estiloTexto($fontSize, $fontWeight, $marginBottom, $colorTipografia)
    @include estiloTexto(1.6rem, bold, 1.5rem, $colorTipograGeneral);
    text-align: center;
    background-color: #f1e6df;    
    padding-top: 0.8rem;
  }

  .carouselItem__parrafo{      
    //      estiloTexto($fontSize, $fontWeight, $marginBottom, $colorTipografia) 
    @include estiloTexto(2.2rem, none, 0.5rem, #f1e7e7);
  }

/* fin carrusel */

  .carbody__titu {    
    font-size: 1.7rem;    
  }

  .card__efecto:hover{  
    transition: all 0.5s ease;
    /*crece el card*/
    transform: scale(1.1,1.1);
  }

    //animaciones con jquery
    .contenedorTipoCate{
      position: relative;
      /* display: inline-block; */
      text-align: center;    
    }
    
    .centrado{
      // display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #af6a3f;
      font-size: 2rem;
      // font-weight: bold;
      line-height: 2.5rem;
    }