$colorTipograGeneral: #D69C79;
$colorTipograCarrousel: #af6a3f;
$colorTipograFooter: #d48c5f;//también usada para los productos del catalogo

//footer, cabecera formulario
$colorFondo: #f1e6df;

$fontSizeGeneral: 1rem;
//en acerca de nosotros, contactanos: ¿tienes consultas ...? y titulo de formulario 
$sizeTituloParrafo: 1.8rem;
$fontSizeMenuHeader: 1.6rem;//Inicio, Aretes, Collares,pulseras
$fontSizeCategoPrinci: 1.6rem;//Aretes, Collares,pulseras
$fontSizeFooter: 1.6rem;//La Empresa, Sobre Nosotros contactanos Síguenos
$fontSizeCatalogoProducto: 1.2rem;//
$lineHeightParrafo: 1.8rem;

//Estos son los colores de la marca by danny
$color_1: #E4DCD8;
$color_2: #D69C79;
$color_3: #E7D0C1;
$color_4: #C1B0A8;

/* para pruebas */
// .colorAzul {
//     border: 2px solid #230985;    
// }

// .colorRojo {
//     border: 2px solid #f70c0c;
// }

// .colorAmarrillo {
//     border: 2px solid #f1c70c;
// }